# Built-in methods

### filter()

####  the filter() method filters the given iterable with the help of a function that tests each element in the iterable to be true or not

#### Syntax:
**```filter(function,iterable)```**

>***```function = function that tests if elements of an iterable returns true or false. If None, the function defaults to Identity function - which returns false if any elements are false```***

>***```iterable - iterable which is to be filtered, could be sets, lists, tuples, or containers of any iterators```***

##### <span style="color:blue"><p>Note: One example of usage of filter function is discussed while describing lambda expression in [functions-click this link](http://localhost:8888/notebooks/Functions.ipynb)</p></span>
#### few more examples are shown below

#### Example 1: To extract vowels in a string

In [1]:
string='We are learning filter function'


def filterVowels(letter):
    vowels=['a','e','i','o','u']
    if letter in vowels:
        return True
    else:
        return False

filteredVowels=list(filter(filterVowels,string))
filteredVowels

['e', 'a', 'e', 'e', 'a', 'i', 'i', 'e', 'u', 'i', 'o']

#### Example 2: To remove missing data

In [2]:
myList=[1,'','',4,7,'',6]
filteredList=list(filter(None,myList))
filteredList

[1, 4, 7, 6]

### map()

####  The method map() returns an iterable of the results after applying the given function to each item of a given iterable (list, tuple etc.)

**```map(function,iterable)```**
>***```Function - It is a function to which map passes each element of given iterable```***

>***```iterable - It is a iterable which is to be mapped```***

#### Example 3: to get square of each element in the given iterable

In [3]:
myList=[1,2,3]

squares=lambda val:val*2

squareList=list(map(squares,myList))
squareList

[2, 4, 6]

### reduce()

#### The function reduce(func, seq) continually applies the function func() to the sequence seq. It returns a single value. 
#### If seq = [ s1, s2, s3, ... , sn ], calling reduce(func, seq) works like this:

   * __At first the first two elements of seq will be applied to func, i.e. func(s1,s2) The list on which reduce() works looks now like this: [ func(s1, s2), s3, ... , sn ]__

   * __In the next step func will be applied on the previous result and the third element of the list, i.e. func(func(s1, s2),s3)
The list looks like this now: [ func(func(s1, s2),s3), ... , sn ]__

   * __Continue like this until just one element is left and return this element as the result of reduce()__

#### Syntax:

**```reduce(function,iterable)```**

#### <span style="color:blue; font-style:italic">Note: In,python 3;reduce function is moved to functools module. therefore we have to import the module to use the function</span>

In [4]:
from functools import reduce
myList=[1,2,3]
compute=lambda val1,val2:val1**2+val2
finalValue=reduce(compute,myList)
finalValue

12

### zip()

#### The purpose of zip() is to map the similar index of multiple containers so that they can be used just using as single entity.

#### Syntax:
**```zip(iterator1, iterator2,.....)```**
#### Returns a single iterator object, having mapped values from all the containers. The iterator can be further converted to a list or tuple.

#### we can also unzip the iterable using the following syntax:
**```zip(*iterator)```**

#### Example 4: To create single list of tuples having name and age taken from two seperate lists

In [5]:
# To zip two lists
list1=['pavan','mala','sham','raksha']
list2=[28,54,58,24]
newList=zip(list1,list2) #creates an iterable
newList=list(newList) #convert iterable to list
newList

[('pavan', 28), ('mala', 54), ('sham', 58), ('raksha', 24)]

In [6]:
# illustration to unzip the iterable
list1_Unzip,list2_Unzip=zip(*newList)
print(list1_Unzip,list2_Unzip)

('pavan', 'mala', 'sham', 'raksha') (28, 54, 58, 24)

### eval()

#### this function converts a string expression into a code and executes it as shown in example below.

In [7]:
x='10+5'
print('without eval ',x) #observe the o/p the string gets printed as it is 
print('with eval ',eval(x)) #observe the o/p, string gets executed as code

without eval  10+5
with eval  15

##### <span style="color:blue">Caution: INPUT FUNCTION WHICH ACCEPTS INPUT FROM USER or ANY CODE THAT CAN MODIFY OS CONTENTS INSIDE EVAL IS DANGEROUS!! ...eval() interprets a string as code. Therefore one should be careful about using this is because a user can use this as an option to run code on the computer. If you have eval(input()) and os imported, a person could type into input() os.system('rm -R *') which would delete all your files in your home directory. Therefore it is better not to use input() or code that modifies OS contents inside eval()</span>

### exec()

#### this function also works similar to eval but it has few differences when compared with eval which are as follows:
<p style="color:Blue; font-family:Helvetica; font-size:14px; font-weight:bold; font-style:italic; line-height:40px; margin-left:50px"> 
1. exec() is like a compiler (something like python inside python) so it compiles and executes<br/>
2. exec() can take a code block that has Python statements: loops, try, except, class, function/method definitions and so on but eval takes only a single expression.<br/>
3. exec() ignores the return value from its code, and always returns None; whereas eval returns the value of the given string expression
</p>

In [8]:
list_str='[1,2,3,4]'
print('without eval or exec',list_str) #observe the o/p the string gets printed as it is 
print('with eval ',eval(list_str)) #observe the o/p, string gets executed as code and we get the list
#observe the o/p with exec, we get none because exec() basically compiles and runs so ignores the return value from its code
print('with exec ',exec(list_str))

without eval or exec [1,2,3,4]
with eval  [1, 2, 3, 4]
with exec  None

In [9]:
# unlike eval which takes only single expression; exec can take the entire code block given as string
exec('''
def printHello():
    print('hello!')
''')
# now lets call the printHello function
printHello() # the function gets executed though given as string

hello!

##### <span style="color:blue">Caution: The same caution applicable for eval is also applicable to exec, therefore one should be careful while using eval() and exec() methods</span>

##### <span style="color:blue">There are many other built in methods available in python. refer documentation for more.</span>

## There are methods common to strings,lists and tuples which are as follows.

### len(iterable)

#### returns the length of the string/list/tuple and dictionary

In [10]:
string='pavan'
myList=[1,2,3]
myTup=(1,2,3,4)
myDict={'a':1,'b':2}

In [11]:
print('length of string :',len(string))
print('length of list :',len(myList))
print('length of tuple :',len(myTup))
print('length of dictionary :',len(myDict))

length of string : 5
length of list : 3
length of tuple : 4
length of dictionary : 2

### max(iterable)

#### In case of string, returns the maximum alphabetical character of the string
#### In case of lists and tuple, returns the element from the list/tuple with maximum value.
#### in case of dictionary, returns the key with maximum alphabetical character/maximum value. However it is mandatory that keys should be of same type or else it will throw an error.

In [12]:
print('maximum value of string ',max(string))
print('maximum value of list ',max(myList))
print('maximum value of tuple ',max(myTup))
print('maximum value of dictionary ',max(myDict))

maximum value of string  v
maximum value of list  3
maximum value of tuple  4
maximum value of dictionary  b

### min(iterable)

#### In case of string, returns the minimum alphabetical character of the string
#### In case of lists and tuple, returns the element from the list/tuple with minimum value.
#### in case of dictionary, returns the key with minimum alphabetical character/maximum value. However it is mandatory that keys should be of same type or else it will throw an error.

In [13]:
print('minimum value of string ',min(string))
print('minimum value of list ',min(myList))
print('minimum value of tuple ',min(myTup))
print('minimum value of dictionary ',min(myDict))

minimum value of string  a
minimum value of list  1
minimum value of tuple  1
minimum value of dictionary  a

## strings

### s.count(sub_str,begin,end)

#### counts how many times sub_str occurs in the string/substring of string when begin index (default = 0) and end index (default = last index) is given

In [14]:
s='pavan'

In [15]:
s.count('a')

2

In [16]:
s.count('a',0,2)

1

In [17]:
s.count('s')

0

### s.find(sub_str,begin,end)

#### returns the index of sub_str in the string/substring of string when begin index (default = 0) and end index (default = last index) is given.

#### returns -1 if sub_str is not found

In [18]:
s='pavan'

In [19]:
s.find('a')

1

In [20]:
s.find('a',2,4)

3

In [21]:
s.find('s')

-1

### s.rfind(sub_str,begin,end)

#### same as find(), but searches backward in the string
#### returns -1 if sub_str is not found

In [22]:
s='pavan'

In [23]:
s.rfind('a')

3

In [24]:
s.rfind('a',2,4)

3

In [25]:
s.rfind('a',0,2)

1

In [26]:
s.rfind('s')

-1

### s.index(sub_str,begin,end)

#### same as find(), but rises an exception if sub_str is not found

In [27]:
s='pavan'

In [28]:
s.index('a')

1

In [29]:
s.index('a',2,4)

3

In [30]:
s.index('s')

ValueError: substring not found

### s.rindex(sub_str,begin,end)

#### same as index(), but searches backward in the string
#### raises an exception if sub_str is not found

In [31]:
s='pavan'

In [32]:
s.rindex('a')

3

In [33]:
s.rindex('a',2,4)

3

In [34]:
s.rindex('s')

ValueError: substring not found

### s.center(width,fill_char)

#### returns a padded string with original string ie s centered to a total of width columns
>**1. width - total width of the string**

>**2. fill_char - filler/padding character**

In [35]:
s='pavan'

In [36]:
s.center(15,'*')

'*****pavan*****'

### s.ljust(width,fill_char)

#### returns a padded string to a total of width columns with original string left-justified
>**1. width - total width of the string**

>**2. fill_char - filler/padding character**

In [37]:
s='pavan'

In [38]:
s.ljust(15,'*')

'pavan**********'

### s.rjust(width,fill_char)

#### returns a padded string to a total of width columns with original string right-justified
>**1. width - total width of the string**

>**2. fill_char - filler/padding character**

In [39]:
s='pavan'

In [40]:
s.rjust(15,'*')

'**********pavan'

### s.capitalize()

#### capitalizes 1st letter of the string

In [41]:
s='pavan'

In [42]:
s.capitalize()

'Pavan'

### s.upper()

#### converts lowercase letters of the string to uppercase

In [43]:
s='pavan'

In [44]:
s.upper()

'PAVAN'

### s.lower()

#### converts uppercase letters of the string to lowercase

In [45]:
s='PAVAN'

In [46]:
s.lower()

'pavan'

### s.swapcase()

#### inverts case of every letter of the string

In [47]:
s='pAvAn'

In [48]:
s.swapcase()

'PaVaN'

### s.title()

#### all words begin with uppercased letter and the rest are lowercase

In [49]:
s='my namE is PavAn'

In [50]:
s.title()

'My Name Is Pavan'

 ### s.startswith(sub_str,begin,end)
 
 #### checks whether string starts with sub_str, optionally restricting the matching with the given indices begin (default = 0) and end (default = last index).
 >**1. sub_str - substring to be checked**
 
 >**2. begin - This is the optional parameter to set begin index of the matching boundary**
 
 >**3. end -  This is the optional parameter to set end index of the matching boundary**
 #### returns a boolean result

In [51]:
s='pavan'

In [52]:
s.startswith('p')

True

In [53]:
s.startswith('p',2,4)

False

In [54]:
s.startswith('m')

False

### s.endswith(sub_str,begin,end)
 
#### checks whether string ends with sub_str, optionally restricting the matching with the given indices begin (default = 0) and end (default = last index).
>**1. sub_str - substring to be checked**

>**2. begin - This is the optional parameter to set begin index of the matching boundary**

>**3. end -  This is the optional parameter to set end index of the matching boundary**
#### returns a boolean result

In [55]:
s='pavan'

In [56]:
s.endswith('n')

True

In [57]:
s.endswith('n',0,3)

False

In [58]:
s.endswith('m')

False

### s.lstrip(char)

#### returns a copy of the string in which all leading char have been stripped from the beginning of the string (default = whitespace characters)
>**1. char = character to be stripped**

In [59]:
s='       pavan      '

In [60]:
s.lstrip()

'pavan      '

In [61]:
s='*************pavan************'

In [62]:
s.lstrip('*')

'pavan************'

### s.rstrip(char)

#### returns a copy of the string in which all trailing char have been stripped from the end of the string (default = whitespace characters)
>**1. char = character to be stripped**

In [63]:
s='             pavan          '

In [64]:
s.rstrip()

'             pavan'

In [65]:
s='*********pavan*********'

In [66]:
s.rstrip('*')

'*********pavan'

### s.strip(char)

#### returns a copy of the string in which all chars have been stripped from the beginning and the end of the string (default = whitespace characters)
>**1. char = character to be stripped**
#### in other words, performs both lstrip() and rstrip()

In [67]:
s='         pavan        '

In [68]:
s.strip()

'pavan'

In [69]:
s='********pavan*******'

In [70]:
s.strip('*')

'pavan'

### s.replace(old,new,max)

#### returns a copy of the string in which the occurrences of old have been replaced with new, optionally restricting the number of replacements to max.
>**1. old − This is old substring to be replaced**

>**2. new − This is new substring, which would replace old substring**

>**3. max - maximum number of replacements**

In [71]:
s='this is pavan!! that is pavan m sunder'

In [72]:
s.replace('is','was')

'thwas was pavan!! that was pavan m sunder'

In [73]:
s.replace('is','was',2)

'thwas was pavan!! that is pavan m sunder'

In [74]:
s.replace('a','')

'this is pvn!! tht is pvn m sunder'

### s.split(sep,num)

#### returns a list of splitted words in the string, using sep as the separator (default = whitespaces), optionally limiting the number of splits to num.
>**1. sep = seperator/delimiter**

>**2. num = max number of splits**

In [75]:
s='my name is pavan m sunder'

In [76]:
s2='my name-pavan m sunder'

In [77]:
s.split()

['my', 'name', 'is', 'pavan', 'm', 'sunder']

In [78]:
s.split(' ',3)

['my', 'name', 'is', 'pavan m sunder']

In [79]:
s.split('is')

['my name ', ' pavan m sunder']

In [80]:
s2.split('-')

['my name', 'pavan m sunder']

### s.splitlines(num)

#### returns a list of splitted words of the string, using line breaks ('\n') as seperator, optionally including the line breaks (if num is supplied and is true)
>**1. num=any number, if present then it would be assumed that line breaks need to be included in the lines**

In [81]:
s='my\nname\nis\npavan'

In [82]:
s.splitlines()

['my', 'name', 'is', 'pavan']

In [83]:
s.splitlines(0)

['my', 'name', 'is', 'pavan']

In [84]:
s.splitlines(1)

['my\n', 'name\n', 'is\n', 'pavan']

In [85]:
s.splitlines(2)

['my\n', 'name\n', 'is\n', 'pavan']

### s.partition(sep)

#### Split the string at the first occurrence of sep, and return a 3-tuple containing the part before the separator, the separator itself, and the part after the separator.

In [86]:
s='pavanmsunder'

In [87]:
s.partition('m')

('pavan', 'm', 'sunder')

In [88]:
s.partition('n')

('pava', 'n', 'msunder')

### s.rpartition(sep)

#### Split the string at the last occurrence of sep, and return a 3-tuple containing the part before the separator, the separator itself, and the part after the separator.

In [89]:
s='pavanmsunder'

In [90]:
s.rpartition('m')

('pavan', 'm', 'sunder')

In [91]:
s.rpartition('n')

('pavanmsu', 'n', 'der')

### s.join(sequence)

#### returns a string in which the string elements of sequence have been joined by s 
>**1. sequence = sequence of elements to be joined**

>**2. s = joining character**

In [92]:
sequence=['p','a','v','a','n']

In [93]:
s='-'

In [94]:
s.join(sequence)

'p-a-v-a-n'

In [95]:
s=''

In [96]:
s.join(sequence)

'pavan'

In [97]:
s=' '

In [98]:
s.join(sequence)

'p a v a n'

#### s.expandtabs(tabsize)

#### returns a copy of the string in which tab characters ie. '\t' are replaced by whitespaces, optionally using the given tabsize (default = 8)
>**1. tabsize = specifies the number of whitespace characters to be replaced for a tab character '\t'**

In [99]:
s='i\tam\tpavan'

In [100]:
s.expandtabs()

'i       am      pavan'

In [101]:
s.expandtabs(6)

'i     am    pavan'

In [102]:
s.expandtabs(3)

'i  am pavan'

In [103]:
s.expandtabs(16)

'i               am              pavan'

### tran_tab =str.maketrans(intab,outtab)

#### returns a translation table that maps each character in the intab string into the character at the same position in the outtab string. 
#### Then this table is passed to the translate() function.
>**1. intab = This is the string having actual characters**

>**2. outtab = This is the string having actual characters**

<p style="color:Blue; font-family:Helvetica; font-size:14px; font-weight:bold; font-style:italic">
NOTE : both intab and outtab must be of same length</p>

### s.translate(tran_tab)

#### returns a copy of the string in which all characters have been translated using table (constructed with the maketrans() function in the str module)
>**1. tran_tab = mapping table created using str.maketrans()**

In [104]:
s='pavan'

In [105]:
tran_tab=str.maketrans('a','b')

In [106]:
s.translate(tran_tab)

'pbvbn'

### s.isalnum()

#### Return true if all characters in the string are alphanumeric and there is at least one character, false otherwise.

In [107]:
s='pavan'

In [108]:
s.isalnum()

True

In [109]:
s='34333'

In [110]:
s.isalnum()

True

In [111]:
s='pa89v8n'

In [112]:
s.isalnum()

True

In [113]:
s='pav&an'

In [114]:
s.isalnum()

False

In [115]:
s='@#$@'

In [116]:
s.isalnum()

False

In [117]:
s=''

In [118]:
s.isalnum()

False

### s.isalpha()

#### Return true if all characters in the string are alphabetic and there is at least one character, false otherwise.

In [119]:
s='pavan'

In [120]:
s.isalpha()

True

In [121]:
s='2552'

In [122]:
s.isalpha()

False

In [123]:
s='pav76n'

In [124]:
s.isalpha()

False

In [125]:
s=''

In [126]:
s.isalpha()

False

In [127]:
s='\n'

In [128]:
s.isalpha()

False

### s.isnumeric()

#### Return true if all characters in the string are numeric characters, and there is at least one character, false otherwise. Numeric characters include digit characters, and all characters that have the Unicode numeric value property, e.g. U+2155, VULGAR FRACTION ONE FIFTH.

In [129]:
s='123'

In [130]:
s.isnumeric()

True

In [131]:
s='pa3332n'

In [132]:
s.isnumeric()

False

In [133]:
s='pavan'

In [134]:
s.isnumeric()

False

In [135]:
s='U+2344'

In [136]:
s.isnumeric()

False

In [137]:
s='U+2155'

In [138]:
s.isnumeric()

False

### s.isupper()

#### Return true if all cased characters in the string are uppercase and there is at least one cased character, false otherwise.

In [139]:
s='PAVAN'

In [140]:
s.isupper()

True

In [141]:
s='pavan'

In [142]:
s.isupper()

False

In [143]:
s='PavAN'

In [144]:
s.isupper()

False

### s.islower()

#### Return true if all cased characters in the string are lowercase and there is at least one cased character, false otherwise.

In [145]:
s='pavan'

In [146]:
s.islower()

True

In [147]:
s='PAVAN'

In [148]:
s.islower()

False

In [149]:
s='PAVan'

In [150]:
s.islower()

False

### s.istitle()

#### Return true if the string is a titlecased string and there is at least one character, False otherwise

In [151]:
s='Pavan'

In [152]:
s.istitle()

True

In [153]:
s='pAVAN'

In [154]:
s.istitle()

False

In [155]:
s='pavan'

In [156]:
s.istitle()

False

In [157]:
s='PavAN'

In [158]:
s.istitle()

False

#### there are other methods such as isdigit(), isdecimal(), isascii(), casefold(), zfill(), encode(), decode(), isprintable(), isspace(), not discussed here, however refer literature for those: [link](https://docs.python.org/3/library/stdtypes.html)

# Lists

### append()

#### The append() method adds a single item to the existing list. It doesn't return a new list; rather it modifies the original list.
#### Syntax:
**```list.append()```**

In [159]:
mylst=[1,2,3,4]

In [160]:
mylst.append(5)
mylst

[1, 2, 3, 4, 5]

### insert()

#### The insert() method adds an item to the existing list in specified position
#### Syntax:
**```list.insert(index,element)```**
>***```Index:position where the element to be inserted```***

>***```element:element to be inserted```***

In [161]:
mylst=[1,2,3,4]
mylst

[1, 2, 3, 4]

In [162]:
mylst.insert(2,'p')
mylst

[1, 2, 'p', 3, 4]

### extend()

#### The extend() method does not return any value but adds contents to the existing list
#### Syntax:
**```list.extend(seq)```**
>***```Seq:sequence```***

In [163]:
myList=[1,2,3]
myList2=[4,5,6]
myList.extend(myList2)
myList

[1, 2, 3, 4, 5, 6]

### count()

#### The count() method returns the count of how many times the object occurs in the list
#### Syntax:
**```list.count(obj)```**
>***```obj:object to be counted```***

In [164]:
myList=[1,2,3,4,2,6,2]
myList.count(2)

3

### index()

#### The index() method returns the lowest index of the object in the list
#### Syntax:
**```list.index(obj)```**
>***```obj:object whose index to be determined```***

In [165]:
myList=[11,12,13,14]
myList.index(12)

1

### pop()

#### The pop() method returns last object from the list and also removes the same from the list. Here the list gets modified.
#### Syntax:
**```list.pop()```**
#### we can also pass the index position of the obj to be removed as an argument.
**```list.pop(idx)```**
>***```idx:index of the element to be removed```***

In [166]:
myList=[11,12,13,14]
item=myList.pop()
print('item popped',item)
print(myList)

item popped 14
[11, 12, 13]

In [167]:
myList=[11,12,13,14]
item=myList.pop(1)
print('item popped',item)
print(myList)

item popped 12
[11, 13, 14]

### remove()

#### The remove() method does not return anything but removes the given object from the list. Here the list gets modified.
#### Syntax:
**```list.remove(obj)```**
>***```obj:object to be removed```***

In [168]:
myList=[11,12,13,14]
myList.remove(12)
print(myList)

[11, 13, 14]

### reverse()

#### The reverse() reverses the elements and updates the existing list. it does not return any value
#### Syntax:
**```list.reverse()```**

In [169]:
myList=[11,12,13,14]
myList.reverse()
print(myList)

[14, 13, 12, 11]

### sort()

#### The sort() method sorts the objects of list, use func if given for customised sorting
####  this method modifies the original list
#### Syntax:
**```list.sort() By default reverse is set to false, so it starts in ascending order by default
list.sort([reverse=True]) for sorting in descending order
list.sort(key=[func])```**

In [170]:
myList=[11,20,13,4]
myList.sort()
print(myList)

[4, 11, 13, 20]

In [171]:
myList=[11,20,13,4]
myList.sort(reverse=True) # sorts in descending order
print(myList)

[20, 13, 11, 4]

##### <span style="color:blue">We can use a function(or lambda expression) to sort in a specific manner as shown in example below</span>

### Example: sorting a list of tuples which contain a pair of values representing name and age

In [172]:
func=lambda val:val[1] # we can use the following function to sort based in 2nd value of tuple which is the age.

# ascending sort
myList=[('pavan',28),('shilpa',32),('ram',16),('shashi',22)]
myList.sort(key =func)
print('ascending sort ',myList)

# descending sort
myList=[('pavan',28),('shilpa',32),('ram',16),('shashi',22)]
myList.sort(key =func,reverse=True)
print('descending sort ',myList)

ascending sort  [('ram', 16), ('shashi', 22), ('pavan', 28), ('shilpa', 32)]
descending sort  [('shilpa', 32), ('pavan', 28), ('shashi', 22), ('ram', 16)]

##### <span style="color:blue"><p>Note: Tuples are immutable; therefore there are no methods that can modify the contents of the tuple.<br/>However there is one method called sorted() that can be applied to tuple as well wich is dicussed in detail below</p></span>

## Sorted()

#### This method sorts the elements of iterable in ascending or descending order.
#### Sorted() is a method that can be applied to both list and tuple; unlike sort() which can be applied to list only
#### sorted() method does not <span style="color:blue; font-size:16px; font-style:italic">modify the original iterable, but returns a new list of sorted values</span> keeping the <span style="color:blue; font-size:16px; font-style:italic">original iterable unaltered</span>. 
#### Only because it does not alter the original iterable, it can be applied to tuple as well (the original tuple remains as it is)

In [173]:
myList=[1,6,3,8]
print('the sorted list is ',sorted(myList))
print('the sorted list in descending order is ',sorted(myList,reverse=True))
print('the original list ',myList) #observe the original list is unaltered in the o/p

the sorted list is  [1, 3, 6, 8]
the sorted list in descending order is  [8, 6, 3, 1]
the original list  [1, 6, 3, 8]

In [174]:
myTup=(1,6,3,8)
print('the sorted tuple obtained as new list is ',sorted(myTup)) # observe we get a new list in o/p 
print('the sorted tuple obtained as new list in descending order is ',sorted(myTup,reverse=True)) # observe we get a new list in o/p 
print('the original tuple ',myTup)

the sorted tuple obtained as new list is  [1, 3, 6, 8]
the sorted tuple obtained as new list in descending order is  [8, 6, 3, 1]
the original tuple  (1, 6, 3, 8)

# Dictionaries

### clear()

#### The clear() method removes all elements in the dictionary
#### Syntax:
**```dict.clear()```**

In [175]:
myDict={1:2,3:4}
myDict.clear()
myDict

{}

### copy()

#### The copy() returns a shallow copy of the dictionary
#### Syntax:
**```dict.copy()```**

In [176]:
myDict={1:'a',2:'b'}
dict2=myDict.copy()
dict2

{1: 'a', 2: 'b'}

### fromkeys()

#### The fromkeys() creates a new dictionary with keys from sequence and the values set to any user specified value (default =None)
#### Syntax:
**```dict.fromkeys(seq,value)```**

>***```seq=list of values to be used as keys for dictionary preparation```***

>***``` value=value to be set at the creation of dictionary```***

In [177]:
seq=[1,2,3]

newDict=dict.fromkeys(seq)
newDict2=dict.fromkeys(seq,'empty')

print('dictionary created with default value', newDict)
print('dictionary created with user specified value', newDict2)

dictionary created with default value {1: None, 2: None, 3: None}
dictionary created with user specified value {1: 'empty', 2: 'empty', 3: 'empty'}

### get()

#### The get()  returns a value for the given key. If key is not available then returns default value None.
**```dict.get(key,default)```**

>***```key=key to be searched in the dictionary```***

>***```value=This is the Value to be returned in case key does not exist.(default=None)```***

In [178]:
myDict={1:'a',2:'b',3:'c'}
val=myDict.get(1)
val

'a'

In [179]:
val=myDict.get(4) # returns None as default if key does not exist
print(val)

None

In [180]:
val=myDict.get(4,'absent') #prints specified value if key does not exist
print(val)

absent

### items()

#### The items() returns an iterator of dict's (key, value) tuple pairs.
**```dict.items()```**

In [181]:
myDict={1:'a',2:'b',3:'c'}
iterator=myDict.items()
print(iterator) # observe the o/p is not fully a list but an iterator of class dict_items

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

In [182]:
# the iterator helps us to further iterate using loops to create list or tuple of items as shown below
items=list(iterator)
print(items)

[(1, 'a'), (2, 'b'), (3, 'c')]

### keys()

#### The keys() method returns an iterator of all available keys in a given dictionary.
**```dict.keys()```**

In [183]:
myDict={1:'a',2:'b',3:'c'}
iterator=myDict.keys()
# the iterator helps us to further iterate using loops to create list or tuple of keys as shown below
keyList=list(iterator)
print(keyList)

[1, 2, 3]

### values()

#### The values() method returns an iterator of all the values available in a given dictionary.
**```dict.values()```**

In [184]:
myDict={1:'a',2:'b',3:'c'}
iterator=myDict.values()
# the iterator helps us to further iterate using loops to create list or tuple of values as shown below
valueList=list(iterator)
print(valueList)

['a', 'b', 'c']

### update()

#### The update() method adds dictionary dict2's key-values pairs in to dict1. This function does not return anything.
**```dict1.update(dict2)```**

>***```dict2=dictionary to be added in to dict```***

In [185]:
dict1={1:'a',2:'b'}
dict2={3:'c',4:'d'}
dict1.update(dict2)
dict1

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}