# Datatypes

#### A datatype represents the type of data stored in memory. In python, ‘everything is an object’ and every object stored in memory has an identity, type and value. 

#### In general, an object can be a function, variable, data structure or a method.

#### Based on the fact whether the values of objects can be changed or not, Python datatypes can be sub categorised into mutable and immutable:

#### Mutable datatypes are objects whose values can be modified/changed, once created

#### Immutable datatypes are objects whose values cannot be modified/changed, once created.

<p style="color:Blue; font-family:Helvetica; font-size:14px; font-weight:bold; font-style:italic">
Note:Datatypes need  not be explcitly declared in python, it automatically assigns depending on the value/type of data
</p>

<html><img src="jupyter_images\datatypes.png",width=500,height=500>

## Numeric type - Integer
#### Keyword:int

#### Represent positive and negative numbers without fractional part

In [1]:
a=10
a

10

In [2]:
type(a)

int

## Numeric type - Float

#### Keyword:float

#### Represent positive and negative numbers with fractional part

In [3]:
a=10.2
a

10.2

In [4]:
type(a)

float

## Numeric type - Complex

#### Keyword:complex

#### Represent numbers which has real and imaginary parts (this type is specially available in python)

In [5]:
a=10+2j
a

(10+2j)

In [6]:
type(a)

complex

## Boolean

#### Keyword:bool

#### Represent logical value like true or false

In [7]:
a=True
a

True

In [8]:
type(a)

bool

In [9]:
a=False
a

False

In [10]:
type(a)

bool

## Strings - Intro

#### Keyword:str

#### Represents a character/sequence of characters enclosed whithin single/double quotes

In [11]:
a='pavan'
a

'pavan'

In [12]:
a="pavan"
a

'pavan'

<p style="color:Blue; font-family:Helvetica; font-size:14px; font-weight:bold; font-style:italic">
Notes:
</p>
<p style="color:Blue; font-family:Helvetica; font-size:14px; font-weight:bold; font-style:italic; line-height:40px; margin-left:50px"> 
1. Triple quotes are used to represent strings<br/>
2. If we start a string with a single quote, we have to end it with a single quote or if we start a string with double quote, we have to end it with a double quote only, else it will show an error<br/>
3. However we can use single quotes in between double quotes or vice versa
</p>

In [13]:
# triple quotes for multiline string
a='''My name is pavan
I am learning python'''
a

'My name is pavan\nI am learning python'

In [14]:
# error when we use different types or quotes at the starting and ending
a='pavan''

SyntaxError: EOL while scanning string literal (<ipython-input-14-a9d7f3920b77>, line 2)

In [15]:
#we can use single quotes in between double quotes or vise versa
a="pavan's"
print(a)
a='pavan"s'
print(a)

pavan's
pavan"s

## String Indexing

#### string elements can be accessed by 'INDEXING' which can be achieved in 2 ways:

####     1. Positive indexing - Starts with integer 0, from left to right

####     2. Negative indexing - Starts with integer -1, from right to left

<html><img src="jupyter_images\string index.png",width=500>

In [16]:
# Positive indexing
a='pavan'
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

p
a
v
a
n

In [17]:
# Negative indexing
a='pavan'
print(a[-5])
print(a[-4])
print(a[-3])
print(a[-2])
print(a[-1])

p
a
v
a
n

## String operation - Slicing
### Syntax - string [begin index:end index]
#### Note: Returns substring from begin index to (end-1) index

In [18]:
a='pavan'
a[1:3]

'av'

<p style="color:Blue; font-family:Helvetica; font-size:14px; font-weight:bold; font-style:italic">
Notes:
</p>
<p style="color:Blue; font-family:Helvetica; font-size:14px; font-weight:bold; font-style:italic; line-height:40px; margin-left:50px"">
1. Begin index is not mandatory. If not specified, returns substring from '0'th  index to (end-1) index<br/>
2. End index is not mandatory. If not specified, returns all characters from begin index<br/>
3. Both the indices are also not mandatory. If not specified, returns all characters<br/>
</p>

In [19]:
print(a[:3]) #begin index not specified
print(a[1:]) #end index not specified
print(a[:]) #both indices not specified

pav
avan
pavan

## String operation - Repetition

#### Syntax:
**``` 
string * number of times the string to be repeated(integer)
```**

In [20]:
a='pavan'
a*3

'pavanpavanpavan'

## String operation - Concatenation

#### Syntax:
**```string 1 + string 2 + ................. + string n```**

In [21]:
a1='pavan'
a2='sunder'
a1+a2

'pavansunder'

## String special characters (escape sequences)

<html><img src="jupyter_images\escape sequence.png",width=500>

In [22]:
# Illustration
print('this is new line: \n spl char ')
print('this is horizontal tab: \t spl char')
print('this is backslash: \\')
print("this is single quote: \'")
print('this is double quote: \"')

this is new line:
 spl char
this is horizontal tab: 	 spl char
this is backslash: \
this is single quote: '
this is double quote: "

## String - in, not in operator

#### To check whether a character/substring is present in the main string

#### Returns boolean values - true if present; false if absent

In [23]:
a='pavan'
print('p' in a)
print('pav' in a)
print('sun' in a)

print('p' not in a)

True
True
False
False

## Tuple

#### A tuple is collection of python objects integers, floating point numbers, string literals etc enclosed within <span style="color:blue; font-size:16px; font-style:italic"> 'Curve braces'</span>

#### Keyword:tuple

In [24]:
mytup=(10,10.2,10+2j,'pav',True)
mytup

(10, 10.2, (10+2j), 'pav', True)

In [25]:
type(mytup)

tuple

## Tuple indexing

#### Tuple elements can be accessed by indexing. 

#### Index starts from '0'

In [26]:
print(mytup[0])
print(mytup[1])
print(mytup[4])

10
10.2
True

## Tuple operations

#### All operations (like slicing, repetition, concatenation and clecking whether an element is present) can be performed on tuples

In [27]:
#Slicing
print(mytup[2:4])
print(mytup[:4])
print(mytup[2:])
print(mytup[:])

((10+2j), 'pav')
(10, 10.2, (10+2j), 'pav')
((10+2j), 'pav', True)
(10, 10.2, (10+2j), 'pav', True)

In [28]:
mytup*2 #repetition

(10, 10.2, (10+2j), 'pav', True, 10, 10.2, (10+2j), 'pav', True)

In [29]:
#concatenation
mytup1=[10,20]
mytup2=[20.5,'pav']
mytup1+mytup2

[10, 20, 20.5, 'pav']

In [30]:
#checking whether an element is present
print(10 in mytup)
print(55 in mytup)

True
False

## Tuple - Immutability illustration

#### values can neither be changed or added in tuple as they are immutable

In [31]:
mytup[1]='hello' # we get error because tuples are immutable ie the values cannot be changed

TypeError: 'tuple' object does not support item assignment

In [32]:
mytup.append('sun')# we get error because tuples are immutable ie the values cannot be added

AttributeError: 'tuple' object has no attribute 'append'

## List

#### A List is collection of python objects integers, floating point numbers, string literals etc enclosed within <span style="color:blue; font-size:16px; font-style:italic"> 'Square braces'</span>

#### Keyword:list

In [33]:
mylst=[10,10.2,10+2j,'pav',True]
mylst

[10, 10.2, (10+2j), 'pav', True]

In [34]:
type(mylst)

list

## List indexing

#### List elements can be accessed by indexing. 

#### Index starts from '0'

In [35]:
print(mylst[0])
print(mylst[1])
print(mylst[4])

10
10.2
True

## List operations

#### All operations (like slicing, repetition, concatenation and clecking whether an element is present) can be performed on list

In [36]:
#Slicing
print(mylst[2:4])
print(mylst[:4])
print(mylst[2:])
print(mylst[:])

[(10+2j), 'pav']
[10, 10.2, (10+2j), 'pav']
[(10+2j), 'pav', True]
[10, 10.2, (10+2j), 'pav', True]

In [37]:
mylst*2 #repetition

[10, 10.2, (10+2j), 'pav', True, 10, 10.2, (10+2j), 'pav', True]

In [38]:
#concatenation
mylst1=[10,20]
mylst2=[20.5,'pav']
mylst1+mylst2

[10, 20, 20.5, 'pav']

In [39]:
#checking whether an element is present
print(10 in mylst)
print(55 in mylst)

True
False

## List - mutability illustration

#### values can be changed or added in list as they are mutable

In [40]:
print(mylst)
id1=id(mylst)

[10, 10.2, (10+2j), 'pav', True]

In [41]:
mylst[1]='hello' # we dont get error because lists are mutable ie the values can be changed
print(mylst)
id2=id(mylst)

[10, 'hello', (10+2j), 'pav', True]

In [42]:
print(mylst)
mylst.append('sun')# we dont get error because lists are immutable ie the values can be added
print(mylst)
id3=id(mylst)

[10, 'hello', (10+2j), 'pav', True]
[10, 'hello', (10+2j), 'pav', True, 'sun']

In [43]:
print('id1:%d, id2:%d, id3:%d'%(id1,id2,id3)) #observe the o/p; the ids are same which indicates that it is the same object and only the values are altered which confirms lists are mutable

id1:2253778299272, id2:2253778299272, id3:2253778299272

## Dictionaries

#### Keyword: Dict

#### Dictionaries are also mutable ie values can be modified
<h4>They are also multivalued datatypes represented by <span style="color:blue; font-size:16px; font-style:italic">'Key-Value pair'</span> and enclosed within <span style="color:blue; font-size:16px; font-style:italic">'Curly braces'</span></h4>

**```Syntax: mydict{key1:value1, key2:value2, .............., keyN:valueN}```**

In [44]:
mydict={'a':'p',1:10.5,'b':10.2,2:'pav'}
mydict

{'a': 'p', 1: 10.5, 'b': 10.2, 2: 'pav'}

In [45]:
type(mydict)

dict

#### Dictionary values can be accessed by refering to corrresponding key. In other words keys serve as index

In [46]:
print(mydict['a'])
print(mydict[1])
print(mydict['b'])
print(mydict[2])

p
10.5
10.2
pav

#### we can insert lists and tuples as values within the dictionary as well

In [47]:
mydict={'a':[1,2,3],'b':(4,5,6)}
print(mydict['a'])
print(mydict['b'])

[1, 2, 3]
(4, 5, 6)

#### To access list and tuple elements defined within the dictionary, we have to provide corresponding key and index as reference

In [48]:
print(mydict['a'][0])
print(mydict['a'][1])
print(mydict['a'][2])
print(mydict['b'][0])
print(mydict['b'][1])
print(mydict['b'][2])

1
2
3
4
5
6

### The dictionary values are accessed using the corresponding keys as index. 

#### The dictioanry values can be any mutable or immutable objects like strings,integers,floating points,booleans,complexes,lists or tuples. 

#### However, the keys have cetrain unique properties as described in notes below:

<p style="color:Blue; font-family:Helvetica; font-size:14px; font-weight:bold; font-style:italic">
Note 1:Keys can only be immutable types ( like as strings, integers, floating points, complex, boolean or tuples).however for simplicity we can use strings and integers as keys, but not mutable type like list. If we attempt to use mutable type like list as key, we get error
</p>

In [49]:
mydict={[5,6]:14}

TypeError: unhashable type: 'list'

<p style="color:Blue; font-family:Helvetica; font-size:14px; font-weight:bold; font-style:italic">
Note 2:Keys are unique which means every value is associated with a unique key. However, If we use same key for different values, the key holds the last assigned value
</p>

In [50]:
mydict={'a':5,'a':7,'b':8} #both values 5 and 7 are assigned to same key'a'
mydict # observe the o/p, when printed, key 'a' holds only 7, value 5 is discarded.

{'a': 7, 'b': 8}

#### Each data type has built in methods that can be redily used to achieve certain results. Refer [link](http://localhost:8888/notebooks/Builtin%20methods.ipynb)

## Type casting

#### converting from one datatype to another.
#### However numeric types cannot be converted to iterable

In [51]:
a=10
float(a)

10.0

In [52]:
a="pavan"
list(a)

['p', 'a', 'v', 'a', 'n']

In [53]:
a=[1,2,3]
tuple(a)

(1, 2, 3)